#containerAboutMe{
    display: flex;
    flex-direction: column;
    padding: 100px 0px 50px 164px;
}
    .containerTittle{
        display: flex;
        height: 70px;
        position: relative;
    }
        .tittle{
            display: flex;
            margin: 0px 0px 0px 45px;
            font-family: 'Fjalla One';
            font-weight: normal;
            font-size: 120px;
            color: #1C1B20;
        }
        .pointTittle{
            display: flex;
            margin-top: -33px;
            font-size: 150px;
            color: #F5C5B8;
            font-family: 'Fjalla One', sans-serif;
        }
    #containerColorAboutMe{
        width: 1150px;
        height: 409px;
        background: #5DA893;
        box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
    }
    #descriptionAboutMe{
        font-family: 'Gudea';
        font-size: 20px;
        margin: 110px 45px 0px 45px;
        color: #F5F5F5;
        text-align: justify;
    }
    #containerDescription{
        display: flex;
    }