#containerHeader{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1540;
    margin: 0px 200px 0px 200px;
    padding-top: 20px;
    min-width: 469.600px;
    position: relative;
    z-index: 100;
}
    #containerColorHeader{
        display: flex;
        width: 100%;
        height: 60px;
        background: #F5C5B8;
        box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
    }
    
        #nameHeader{
            display: flex;
            align-items: center;
            font-family: 'Gudea';
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            color: #1C1B20;
            margin-left: 45px;
        }
        #lastNameHeader, #pointPresentation{
            font-family: 'Fjalla One', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            margin-left: 10px;
            display: flex;
            align-items: center;
            color: #1C1B20;
        }
            #pointPresentation{
                display: flex;
                margin-left: 0px;
                font-size: 150px;
                margin-top: 220px;
                color: #A87B6D;
            }

/* <-----------------------MEDIA QUERY-----------------------> */
@media all and (max-width: 1024px){
    #containerHeader{ margin: 0px 150px 0px 100px; }
}
@media all and (max-width: 950px){
    #containerHeader{ margin: 0px 100px 0px 100px; }
}
@media all and (max-width: 950px){
    #containerHeader{ 
        margin: 0px 0px 0px 0px;
        padding: 20px 100px 0px 100px;  
    }
}