#containerIconMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 60px;
    height: 665px;
    left: 35px;
    top: 45px;
}
    #btnIconMenu{
        background: transparent;
            border: 0;
    }
        #imgIconMenu{
            width: 50px;
        }