.backgroundModal{
    width: 500px;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
}
.containerTittleAndX{
    display: flex;
    justify-content: space-between;
}
.btnClose{
    height: 20px;
    text-align: center;
    border: 0;
    background-color: rgb(255, 0, 0, 0.71);
    outline: none;
    cursor: pointer;
}
/* <-----------------Historias de usuario proyecto 1--------> */
.imgProyectOneUserHistory{
    height: 140px;
}

.btnImgProyectOne{
    background: transparent;
    border: 0;
    height: 500px;
    overflow:hidden;
    width: 180px;
    height: 180px;
    outline: none;
    cursor: pointer;
}
.btnImgProyectOne:hover .imgProyectOneUserHistory {
    transform:scale(1.2);
}