.backgroundModal{
    width: 500px;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
}
.containerTittleAndX{
    display: flex;
    justify-content: space-between;
}
.btnClose{
    height: 20px;
    text-align: center;
    border: 0;
    background-color: rgb(255, 0, 0, 0.71);
    outline: none;
    cursor: pointer;
}
/* <-----------------Historias de usuario proyecto 1 y 2--------> */
.imgProjectOneUserHistory{
    height: 140px;
}

.btnImgProjectOne{
    background: transparent;
    border: 0;
    height: 500px;
    overflow:hidden;
    width: 180px;
    height: 180px;
    outline: none;
    cursor: pointer;
}
.btnImgProjectOne:hover .imgProjectOneUserHistory{
    transform:scale(1.2);
}

/* <-----------------Historias de usuario proyecto 1 y 2--------> */
.imgProjectTwoUserHistory{
    height: 200px;
}

.btnImgProjectTwo{
    background: transparent;
    border: 0;
    height: 500px;
    overflow:hidden;
    width: 250px;
    height: 250px;
    outline: none;
    cursor: pointer;
}
.btnImgProjectTwo:hover .imgProjectTwoUserHistory {
    transform:scale(1.2);
}