#containerPresentation{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1540;
    margin: 0px 200px 0px 150px;
    min-width: 469.600px;
    position: relative;
    z-index: 100;
}
     #containerBriefcase{
        display: flex;
    }
        #briefcase{
            display: flex;
            width: 100%;
            margin: 40px 0px 10px 0px;
            font-family: 'Gudea';
            font-weight: normal;
            font-size: 18px;
            color: #1C1B20;
        }
    #containerColorPresentation{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        background: #F5C5B8;
    }
       #name{
            font-family: 'Gudea';
            font-style: normal;
            font-weight: normal;
            display: flex;
            justify-content: flex-end;
            margin: 100px -30px 0px 0px;
            font-size: 110px;
            color: #1C1B20;
        }
        .lastNameAndPoint{
            display: flex;
            justify-content: flex-end;
            align-content: flex-end;
            align-items: flex-end;
        }

        #lastName{
            font-family: 'Fjalla One', sans-serif;
            display: flex;
            font-style: normal;
            font-weight: normal;
            justify-content: flex-end;
            margin: 0px 0px 0px 0px;
            font-size: 180px;
            color: #1C1B20;
        }
             #pointPresentationn{
                font-family: 'Fjalla One', sans-serif;
                display: flex;
                font-style: normal;
                font-weight: normal;
                display: flex;
                font-size: 150px;
                color: #A87B6D;
                margin: 0px -200px 0px 0px;
            } 


.containerDescriptionn{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 50px;
}
    #descriptionDFE, #descriptionD{
        width: 100%;
        padding-bottom: 10px;
        font-family: 'Gudea';
        font-size: 25px;
        color: #000000;
        margin: 0;
    }
    #descriptionD{
        font-size: 17px;
        font-weight: normal;
    }
        .me{
            width: 270px;
            height: 50px;
            border: 0;
            background: #5DA893;
            box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            outline: none;

            font-family: 'Gudea';
            font-size: 21px;
            color: #FFFFFF;
        }
        .me span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }
        .me span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
            }
            
            .me:hover span {
            padding-right: 25px;
            }
            
            .me:hover span:after {
            opacity: 1;
            right: 0;
            }


/*<-----------------------MEDIA QUERY----------------------->*/
@media all and (max-width: 1162px){
    #name{ font-size: 90px; }
    #lastName{ font-size: 160px; }
}

@media all and (max-width: 1024px){
    #containerPresentation{ margin: 0px 150px 0px 100px; }
}

@media all and (max-width: 962px){
    #containerColorPresentation{ width: 60%; }
}
@media all and (max-width: 852px){
    #containerColorPresentation{ width: 70%; }
}
@media all and (max-width: 768px){
    #containerColorPresentation{ width: 100%; }
    #containerPresentation{ margin: 0px 100px 0px 100px; }
    #name{
        justify-content: flex-start;
        margin: 100px 0px 0px 45px;
    }
    #pointPresentationn{ margin: 0px 45px 0px 0px; } 
}
@media all and (max-width: 769px){
    #pointPresentationn{ justify-content: flex-start; } 
    #lastName{ justify-content: flex-start; }
}
