#containerPresentation{
    position: absolute;
width: 599px;
height: 665px;
left: 165px;
top: 45px;

background: #F5C5B8;
}
    #briefcase{
        position: absolute;
        top: -55px;
        font-family: 'Gudea';
        font-weight: normal;
        font-size: 18px;
        color: #1C1B20;
    }
    #name{
        font-family: 'Gudea';
        font-style: normal;
        font-weight: normal;
        position: absolute;
        left: 327px;
        top: 50px;
        font-size: 110px;
        color: #1C1B20;
    }
    #lastName, #pointPresentation{
        font-family: 'Fjalla One', sans-serif;
        position: absolute;
        left: 450px;
        top: 70px;
        font-style: normal;
        font-weight: normal;
        font-size: 180px;
        color: #1C1B20;
    }
        #pointPresentation{
            left: 850px;
            font-size: 150px;
            top: 130px;
            color: #A87B6D;
        }