/* <---------------CONTENEDOR TÍTULO DEL PROYECTO--------------> */
#containerProjectThree{
    display: flex;
    flex-direction: column;
    padding: 70px 0px 50px 164px;
    scroll-snap-align: initial;
}
    .containerTittleProjectThree{
        display: flex;
        height: 70px;
        position: relative;
    }
        .tittleProjectThree{
            padding: 0;
            display: flex;
            margin: 0px 0px 0px 45px;
            font-family: 'Fjalla One';
            font-weight: normal;
            font-size: 120px;
            color: #1C1B20;
        }
        .pointTittleProjectThree{
            display: flex;
            margin-top: -33px;
            font-size: 150px;
            color: #5DA893;
            font-family: 'Fjalla One', sans-serif;
        }


/* <------------------DESCRIPCIÓN DEL PROYECTO-----------------> */
#containerColorProjectThree{
    width: 1090px;
    height: 1200px;
    background: #F5C5B8;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
}
    #containerDescriptionProductProjectThree,
    #containerToolsProjectThree{
        display: flex;
        flex-direction: column;
        font-family: 'Gudea';
        font-size: 18px;
        margin: 0px 52px 0px 52px;
        margin-top: 40px;
        color: #1C1B20;
        text-align: justify;
    }
        #tProduction1{
            font-size: 15px;
            padding-bottom: 30px;
        }
        .container1ProjectThree{
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
            .imgProjectThree{
                width: 500px;
            }
                .textThree{
                    padding-left: 30px;
                }


/* <-------------------BOTONES LINKS PROYECTO------------------> */
#containerLinksProjectThree{
    display: flex;
    justify-content: space-around;
    margin: 50px 100px 0px 100px;
}


/* <---------------------HERRAMIENTAS USADAS-------------------> */
.toolsProjectThree{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 200px;
}
    .imgToolsJSProjectThree, .imgToolsNodeJSProjectThree{
        height: 110px;
        width: 110px;
        background-size: cover;
        margin-left: 50px;
        filter: drop-shadow(9px 9px 9px rgba(0, 0, 0, 0.6));
    }
    .imgToolsJSProjectThree{background-image: url("http://imgfz.com/i/RkSbjGl.png");}
    .imgToolsNodeJSProjectThree{background-image: url("https://i.ibb.co/64NpXmG/js-1.png");}
        
    .imgToolsJSProjectThree:hover .containerImgToolsProjectThree,
    .imgToolsNodeJSProjectThree:hover .containerImgToolsProjectThree{
        opacity: 1;
    }
        .containerImgToolsProjectThree{
            display: flex;
            justify-content: center;
            align-items: center;
            overflow:hidden;
            width: 118px;
            height: 118px;
            opacity:0;
            transition: opacity 0.3s;
            margin: 0;
        }


@media all and (max-width: 1024px){
    #containerColorProjectThree{
        width: 924px;
        height: 1240px;
    }
    .containerTittleProjectThree{
        width: 890px;
    }
    .imgProjectThree{
        width: 400px;
    }
}