/* <---------------CONTENEDOR TÍTULO DEL PROYECTO--------------> */
#containerProjectFive{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1540;
    margin: 60px 200px 60px 200px;
    min-width: 469.600px;
    position: relative;
    z-index: 100;
}
    .containerTittleProjectFive{
        display: flex;
        height: 70px;
        position: relative;
    }
        .tittleProjectFivee{
            display: flex;
            margin: 0px 0px 0px 45px;
            font-family: 'Fjalla One';
            font-weight: normal;
            font-size: 120px;
            color: #1C1B20;
        }
        .pointTittleProjectFive{
            display: flex;
            margin-top: -33px;
            font-size: 150px;
            color: #5DA893;
            font-family: 'Fjalla One', sans-serif;
        }


/* <------------------DESCRIPCIÓN DEL PROYECTO-----------------> */
    #containerColorProjectFive{
        width: 100%;
        height: 100%;
        background: #F5C5B8;
        box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
    }

        #containerDescriptionProductProject5,
        #containerHistoryUserProject5,
        #containerToolsProject5{
            display: flex;
            flex-direction: column;
            font-family: 'Gudea';
            font-size: 18px;
            margin: 0px 52px 0px 52px;
            margin-top: 40px;
            color: #1C1B20;
            text-align: justify;
        }
            #tProduction{
                font-size: 15px;
                padding-bottom: 30px;
            }
            .container1ProjectFive1{
                display: flex;
                padding: 0;
            }
                .text1ProjectFive{
                    margin-right: 45px;
                }
                .imgProjectFive1{
                    display: flex;
                    width: 700px;
                }
    
        
/* <-------------------BOTONES LINKS PROYECTO------------------> */
#containerLinksProject5{
    display: flex;
    flex-flow: wrap;
    margin: 60px 100px 0px 100px;
    justify-content: space-around;
}
.container{
    padding: 10px;
}

/* <--------------------HISTORIAS DE USUARIO-------------------> */
    .text3{
        font-size: 30px;
        margin: 40px 0px 40px 0px;
    }
    .container1ProjectFive3{
        display: flex;
        justify-content: space-evenly;
        padding: 0;
    }
    .containerImgProjectFiveArrow3{
        display: flex;
align-items: center;
        justify-content: center;
    }

/* <---------------------HERRAMIENTAS USADAS-------------------> */
.toolsProjectFive{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding-bottom: 40px;
}
    .imgToolsHTML5Project5, .imgToolsJSProject5, 
    .imgToolsCSSProject5, .imgToolsReactProject5, 
    .imgToolsFigmaProject5, .imgToolsInvisionProject5{
        height: 110px;
        width: 110px;
        margin: 15px;
        background-size: cover;
        filter: drop-shadow(9px 9px 9px rgba(0, 0, 0, 0.6))
    }
    .containerImgToolsProject5{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow:hidden;
        width: 118px;
        height: 118px;
        opacity:0;
        transition: opacity 0.3s;
        margin: 0;
    }
    .imgToolsHTML5Project5{background-image: url("http://imgfz.com/i/cBb3i7D.png");}
    .imgToolsJSProject5{background-image: url("http://imgfz.com/i/RkSbjGl.png");}
    .imgToolsCSSProject5{background-image: url("http://imgfz.com/i/AYunpIz.png");}
    .imgToolsReactProject5{background-image: url("http://imgfz.com/i/KI90XYh.png");}
    .imgToolsFigmaProject5{background-image: url("http://imgfz.com/i/QcyeCpM.png");}
    .imgToolsInvisionProject5{background-image: url("http://imgfz.com/i/Trg7GMB.png");}

    .imgToolsHTML5Project5:hover .containerImgToolsProject5,
    .imgToolsJSProject5:hover .containerImgToolsProject5,
    .imgToolsCSSProject5:hover .containerImgToolsProject5,
    .imgToolsReactProject5:hover .containerImgToolsProject5,
    .imgToolsGithubProject5:hover .containerImgToolsProject5,
    .imgToolsFigmaProject5:hover .containerImgToolsProject5,
    .imgToolsInvisionProject5:hover .containerImgToolsProject5{
        opacity: 1;
    }



/*<-----------------------MEDIA QUERY----------------------->*/
@media all and (max-width: 1670px){
    .container1ProjectFive1{ flex-direction: column; }
    .text1ProjectFive{
        margin-right: 0px;
        margin-bottom: 50px;
    }
    .imgProjectFive1{ width: 100%; }
}
@media all and (max-width: 1100px){
    .container1ProjectFive3{ flex-direction: column; justify-content: center;}
    .containerBtnsCodigo{
        display: flex;
        justify-content: center;
    }
    .tittleProjectFivee{
        font-size: 100px;
        margin-top: 15px;
    }
}
@media all and (max-width: 1024px){
    #containerProjectFive{ margin: 60px 150px 60px 100px; }
}
@media all and (max-width: 950px){
    #containerProjectFive{ margin: 60px 100px 60px 100px; }
}
@media all and (max-width: 800px){
    .tittleProjectFivee{
        font-size: 80px;
        margin-top: 28px;
    }
}