#containerProjectOne{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1540;
    margin: 60px 200px 60px 200px;
    min-width: 469.600px;
    position: relative;
    z-index: 100;
}
#tProduction1{
    font-size: 15px;
    padding-bottom: 30px;
}
    .containerTittleProjectOne{
        display: flex;
        height: 70px;
        position: relative;
    }
        .tittleProjectOne{
            padding: 0;
            display: flex;
            margin: 0px 0px 0px 45px;
            font-family: 'Fjalla One';
            font-weight: normal;
            font-size: 120px;
            color: #1C1B20;
        }
        .pointTittleProjectOne{
            display: flex;
            margin-top: -33px;
            font-size: 150px;
            color: #5DA893;
            font-family: 'Fjalla One', sans-serif;
        }
    #containerColorProjectOne{
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 100%;
        background: #F5C5B8;
        box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
    }
    
    .imgLofche{
        display: flex;
    }

    #containerToolsProjectOne{
        display: flex;
        flex-direction: column;
        font-family: 'Gudea';
        font-size: 18px;
        margin: 0px 52px 0px 52px;
        margin-top: 40px;
        color: #1C1B20;
        text-align: justify;
        /* font-weight: bold; */
    }
    #containerDescriptionProductProjectOne{
        display: flex;
        flex-direction: column;
        font-family: 'Gudea';
        font-size: 18px;
        margin: 0px 52px 0px 52px;
        margin-top: 40px;
        color: #1C1B20;
        text-align: justify;
    }
        .imgProjectOne1{
            padding-top: 20px;
            width: 40%;
        }
        .imgProjectOne2{
            padding-top: 20px;
            width: 60%;
        }

.containerHistoryProjectOne{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 0;
}

.imgProjectOneArrow3{
    height: 80px;
}

#containerHistoryUserProjectOne{
    display: flex;
    flex-direction: column;
    font-family: 'Gudea';
    font-size: 18px;
    margin: 0px 52px 0px 52px;
    margin-top: 40px;
    color: #1C1B20;
    text-align: justify;
    /* font-weight: bold; */
}

/* <------------------------HERRAMIENTAS-----------------------> */
.toolsProjectOne{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding-bottom: 40px;
}
    .imgToolsHTML5ProjectOne, .imgToolsJSProjectOne,
    .imgToolsCSSProjectOne, .imgToolsFirebaseProjectOne,
    .imgToolsFigmaProjectOne, .imgToolsInvisionProjectOne,
    .imgToolsSASSProjectOne, .imgToolsReactProjectOne{
        height: 110px;
        width: 110px;
        margin: 15px;
        background-size: cover;
        filter: drop-shadow(9px 9px 9px rgba(0, 0, 0, 0.6))
    }
    .imgToolsHTML5ProjectOne{background-image: url("http://imgfz.com/i/cBb3i7D.png");}
    .imgToolsJSProjectOne{background-image: url("http://imgfz.com/i/RkSbjGl.png");}
    .imgToolsCSSProjectOne{background-image: url("http://imgfz.com/i/AYunpIz.png");}
    .imgToolsFirebaseProjectOne{background-image: url("https://i.ibb.co/8x6Rv7P/firebase.png");}
    .imgToolsFigmaProjectOne{background-image: url("http://imgfz.com/i/QcyeCpM.png");}
    .imgToolsInvisionProjectOne{background-image: url("http://imgfz.com/i/Trg7GMB.png");}
    .imgToolsSASSProjectOne{background-image: url("https://i.ibb.co/pvLgsXc/sass.png");}
    .imgToolsReactProjectOne{background-image: url("http://imgfz.com/i/KI90XYh.png");}
        
    .imgToolsHTML5ProjectOne:hover .containerImgToolsProjectOne,
    .imgToolsJSProjectOne:hover .containerImgToolsProjectOne,
    .imgToolsCSSProjectOne:hover .containerImgToolsProjectOne,
    .imgToolsFirebaseProjectOne:hover .containerImgToolsProjectOne,
    .imgToolsGithubProjectOne:hover .containerImgToolsProjectOne,
    .imgToolsFigmaProjectOne:hover .containerImgToolsProjectOne,
    .imgToolsInvisionProjectOne:hover .containerImgToolsProjectOne,
    .imgToolsSASSProjectOne:hover .containerImgToolsProjectOne,
    .imgToolsReactProjectOne:hover .containerImgToolsProjectOne{
        opacity: 1;
    }
        .containerImgToolsProjectOne{
            display: flex;
            justify-content: center;
            align-items: center;
            overflow:hidden;
            width: 118px;
            height: 118px;
            opacity:0;
            transition: opacity 0.3s;
            margin: 0;
        }            

/*<-----------------------MEDIA QUERY----------------------->*/
@media all and (max-width: 1024px){
    #containerProjectOne{ margin: 45px 150px 60px 100px; }
}
@media all and (max-width: 950px){
    #containerProjectOne{ margin: 45px 100px 60px 100px; }
}
