/* <---------------CONTENEDOR TÍTULO DEL PROYECTO--------------> */
#containerProjectFour{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1540;
    margin: 60px 200px 0px 150px;
    min-width: 469.600px;
    position: relative;
    z-index: 100;
}
    .containerTittleProjectFour{
        display: flex;
        height: 70px;
        position: relative;
    }
        .tittleProjectFourr{
            display: flex;
            margin: 0px 0px 0px 45px;
            font-family: 'Fjalla One';
            font-weight: normal;
            font-size: 120px;
            color: #1C1B20;
        }
        .pointTittleProjectFour{
            display: flex;
            margin-top: -33px;
            font-size: 150px;
            color: #5DA893;
            font-family: 'Fjalla One', sans-serif;
        }


/* <------------------DESCRIPCIÓN DEL PROYECTO-----------------> */
    #containerColorProjectFour{
        width: 100%;
        height: 100%;
        background: #F5C5B8;
        box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
    }

        #containerDescriptionProductProject4, 
        #containerHistoryUserProject4, 
        #containerToolsProject4, #containerUserDefinition{
            display: flex;
            flex-direction: column;
            font-family: 'Gudea';
            font-size: 18px;
            margin: 0px 52px 0px 52px;
            margin-top: 40px;
            color: #1C1B20;
            text-align: justify;
        }
            #tProduction{
                font-size: 15px;
                padding-bottom: 30px;
            }
            .container1ProjectFour1{
                display: flex;
                padding: 0;
            }
                .text1{
                    margin: 0px 30px 0px 0px;
                }
                    .imgProjectFour1{
                        display: flex;
                        width: 425px;
                    }
    
        
/* <-------------------BOTONES LINKS PROYECTO------------------> */    
#containerLinksProject4{
    display: flex;
    margin: 60px 100px 0px 100px;
    justify-content: space-around;
}
    .content {
        position: relative;
        width: 250px;
        overflow: hidden;
    }
        .content .content-overlay {
            background: rgba(0,0,0,0.7);
            border-radius: 200px;
            position: absolute;
            height: 99%;
            width: 100%;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
        }   
        .content:hover .content-overlay{
            opacity: 1;
        }   
            .content-image{
                width: 100%;
            }
            
        .content-details {
            position: absolute;
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
            width: 100%;
            top: 50%;
            left: 50%;
            opacity: 0;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }       
        .content:hover .content-details{
            top: 50%;
            left: 50%;
            opacity: 1;
        }          
        .content-details h3{
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            margin-bottom: 0.5em;
            text-transform: uppercase;
        }


/* <------------------DESCRIPCIÓN DE USUARIO-------------------> */

    .imgProjectFour2{
        display: flex;
        width: 100%;
        padding-top: 30px;
    }


/* <--------------------HISTORIAS DE USUARIO-------------------> */
    .text3{
        font-size: 30px;
        margin: 40px 0px 40px 0px;
    }
    .container1ProjectFour3{
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
        .containerImgProjectFourArrow3{
            display: flex;
            align-items: center;
        }
            .imgProjectFourArrow3{
                height: 120px;
            }


/* <---------------------HERRAMIENTAS USADAS-------------------> */
.toolsProjectFour{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}
    .imgToolsHTML5Project4, .imgToolsJSProject4, 
    .imgToolsCSSProject4, .imgToolsReactProject4, 
    .imgToolsFigmaProject4, .imgToolsInvisionProject4{
        height: 110px;
        width: 110px;
        background-size: cover;
        filter: drop-shadow(9px 9px 9px rgba(0, 0, 0, 0.6))
    }
    .containerImgToolsProject4{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow:hidden;
        width: 118px;
        height: 118px;
        opacity:0;
        transition: opacity 0.3s;
        margin: 0;
    }
    .imgToolsHTML5Project4{background-image: url("http://imgfz.com/i/cBb3i7D.png");}
    .imgToolsJSProject4{background-image: url("http://imgfz.com/i/RkSbjGl.png");}
    .imgToolsCSSProject4{background-image: url("http://imgfz.com/i/AYunpIz.png");}
    .imgToolsReactProject4{background-image: url("http://imgfz.com/i/KI90XYh.png");}
    .imgToolsFigmaProject4{background-image: url("http://imgfz.com/i/QcyeCpM.png");}
    .imgToolsInvisionProject4{background-image: url("http://imgfz.com/i/Trg7GMB.png");}

    .imgToolsHTML5Project4:hover .containerImgToolsProject4,
    .imgToolsJSProject4:hover .containerImgToolsProject4,
    .imgToolsCSSProject4:hover .containerImgToolsProject4,
    .imgToolsReactProject4:hover .containerImgToolsProject4,
    .imgToolsGithubProject4:hover .containerImgToolsProject4,
    .imgToolsFigmaProject4:hover .containerImgToolsProject4,
    .imgToolsInvisionProject4:hover .containerImgToolsProject4{
        opacity: 1;
    }


/* @media all and (max-width: 1024px){
    #containerColorProjectFour{
        width: 924px;
        height: 2870px;
    }
    .container1ProjectFour1{
        display: flex;
        flex-direction: column;
    }
    .containerTittleProjectFour{
        width: 800px;
    }
    .containerTittleProjectThree{
        width: 890px;
    }
    .imgProjectFour1{
        width: 500px;
    }
    #containerImgProjectFour1{
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
} */