/* <-----------------TÍTULO Y CONTENEDOR GENERAL---------------> */
#containerProjects{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1540;
    margin: 45px 200px 60px 150px;
    min-width: 469.600px;
    position: relative;
    z-index: 100;
}
.containerTittleProject{
    display: flex;
    height: 100%;
    align-items: flex-end;
    position: relative;
    margin: 0px 0px -80px 0px;
}
.tittleProject{
    display: flex;
    margin: 0px 0px 0px 45px;
    font-family: 'Fjalla One';
    font-weight: normal;
    font-size: 120px;
    color: #1C1B20;
}

.pointTittleProject{
    display: flex;
    margin: 0;
    font-size: 150px;
    color: #5DA893;
    font-family: 'Fjalla One', sans-serif;
}

/* <------------------------PROYECTO UNO-----------------------> */
#projectOne{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #FFE1D9;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
}
.containerDescriptionProjectOne{
    display: flex;
    flex-direction: column;
    margin: 90px 45px 60px 45px;
    justify-content: space-between;
}

.containerInfoProyectOne2{
    display: flex;
    justify-content: space-between;
}

.tittleHomeProjectOne{    
    font-family: 'Fjalla One';
    font-weight: normal;
    font-size: 65px;
    margin: 0px;
    color:#1C1B20;
}
.descriptionProjectOne{
    width: 100%;
    font-family: 'Gudea';
    font-size: 19px;
    color:#1C1B20;
    text-align: justify;
}
.btnSeeProjectOne{
    width: 198px;
    height: 47px;
    background: #1C1B20;
    border: 1px solid #1C1B20;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: 'Gudea';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #f1eeee;
    outline: none;
}
.containerImgProjectOneHome{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.imgProjectOneHome{
    height: 300px;
    filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.8))
}

/* <--------------------PROYECTO DOS Y TRES--------------------> */
.containerProyectTwoAndThree{
    display: flex;
    height: 100%;
}
    #projectTwo{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding: 45px;
        box-sizing: border-box;
        background: #A87B6D;
        box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
    }
        .containerDescriptionProjectTwo{
            display: flex;
            justify-content: space-between;
        }
        .tittleHomeProjectTwo{    
            font-family: 'Fjalla One';
            font-weight: normal;
            font-size: 65px;
            margin: 0px;
            color:#1C1B20;
        }
        .descriptionProjectTwo{
            width: 100%;
            padding-top: 20px;
            font-family: 'Gudea';
            font-size: 19px;
            color: #F5F5F5;
            text-align: justify;
        }
        .btnSeeProjectTwo{
            width: 198px;
            height: 47px;
            background: #1C1B20;
            border: 1px solid #1C1B20;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: 'Gudea';
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 27px;
            color: #f1eeee;
            outline: none;
        }
        .containerImgProjectTwo{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        .imgProjectTwo{
            height: 390px;
            filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.8))
        }
        
        
    #projectThree{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 45px;
        box-sizing: border-box;
        background: #5DA893;
        box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
    }
    .containerDescriptionProjectThree{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .tittleHomeProjectThree{
        display: flex;
        justify-content: center;
        font-family: 'Fjalla One';
        font-weight: normal;
        font-size: 65px;
        margin: 0px;
        color:#1C1B20;
        text-align: center;
    }
    .descriptionProjectThree{
        font-family: 'Gudea';
        font-size: 19px;
        color: #F5F5F5;
        display: flex;
        text-align: justify;
    }
    #containerBTNProjectThree{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .btnSeeProjectThree{
        width: 198px;
        height: 47px;
        background: #1C1B20;
        border: 1px solid #1C1B20;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        font-family: 'Gudea';
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        color: #f1eeee;
        outline: none;
    }
     
/* <------------------------PROYECTO CUATRO--------------------> */
#projectFour{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #F5C5B8;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
}
.containerImgProjectFour{
    display: flex;
}
.containerDescriptionProjectFour{
    display: flex;
    flex-direction: column;
    margin: 45px 45px 60px 45px;
    align-items: center;
}
.tittleHomeProjectFour{
    font-family: 'Fjalla One';
    font-weight: normal;
    font-size: 65px;
    margin: 0px;
    color:#1C1B20;
}  
.descriptionProjectFour{
    font-family: 'Gudea';
    font-size: 19px;
    padding: 15px 15px 15px 0px;
    color:#1C1B20;
    text-align: justify;
}
.containerBtnProjectFour{
    width: 100%;
}
.imgProjectFour{
    height: 330px;
    filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.8))
}
.containerInfoProjectFour{
    display: flex;
}

/* <----------------------PROYECTO CINCO-----------------------> */
#projectFive{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #5DA893;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
}
.containerDescriptionProjectFive{
    display: flex;
    flex-direction: column;
    margin: 45px;
    justify-content: space-between;
}

.containerInfoProyectFive{
    display: flex;
    justify-content: space-between;
}

.tittleHomeProjectFive{    
    font-family: 'Fjalla One';
    font-weight: normal;
    font-size: 65px;
    margin: 0px;
    color:#1C1B20;
}
.descriptionProjectFive{
    width: 100%;
    font-family: 'Gudea';
    font-size: 19px;
    color:#F5F5F5;
    text-align: justify;
}

.containerImgProjectFive{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0px 0px 0px 30px;
}
.imgProjectFive{
    height: 400px;
    filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.8))
}


/* <-----------EFECTO BOTÓN------------> */
.btnSeeProjectOne span, .btnSeeProjectTwo span, 
.btnSeeProjectThree span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btnSeeProjectOne span:after, .btnSeeProjectTwo span:after,
.btnSeeProjectThree span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
    
.btnSeeProjectOne:hover span, .btnSeeProjectTwo:hover span, 
.btnSeeProjectThree:hover span{
    padding-right: 25px;
}

.btnSeeProjectOne:hover span:after, .btnSeeProjectTwo:hover span:after,
.btnSeeProjectThree:hover span:after{
    opacity: 1;
    right: 0;
}


/*<-----------------------MEDIA QUERY----------------------->*/
@media all and (max-width: 1300px){
    .containerDescriptionProjectTwo{
        flex-flow: wrap;
        justify-content: center;
    }
    .containerBtnProjectTwo{
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
}
@media all and (max-width: 1162px){
    .containerInfoProyectFive,
    .containerInfoProjectFour,
    .containerInfoProyectOne2{
        flex-flow: wrap;
        justify-content: center;
    }
    .containerBtnProjectFive,
    .containerBtnProjectFour,
    .containerBtnProjectOne{
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    .tittleProject{
        font-size: 100px;
    }
}

@media all and (max-width: 1024px){
    .containerProyectTwoAndThree{
        flex-direction: column;
    }
    #projectTwo,
    #projectThree{
        width: 100%;
    }
    #containerProjects{
        margin: 45px 150px 60px 100px;
    }
}
@media all and (max-width: 950px){
    #containerProjects{
        margin: 45px 100px 60px 100px;
    }
}
@media all and (max-width: 840px){
    .imgProjectOneHome{
        height: 220px;
    }
    .imgProjectFour{
        height: 300px;
    }
    .imgProjectFive{
        height: 300px;
    }
}
@media all and (max-width: 825px){
    .tittleProject{
        font-size: 85px;
    }
    .containerTittleProject{
        margin: 0px 0px -60px 0px;
    }
}
