#containerProyectFour{
    display: flex;
    flex-direction: column;
    padding: 100px 0px 50px 164px;
    scroll-snap-align: initial;
}
#tProduction{
    font-size: 15px;
    padding-bottom: 30px;
}
    .containerTittleProyectFour{
        display: flex;
        height: 70px;
        position: relative;
    }
        .tittleProyectFourr{
            display: flex;
            margin: 0px 0px 0px 45px;
            font-family: 'Fjalla One';
            font-weight: normal;
            font-size: 120px;
            color: #1C1B20;
        }
        .pointTittleProyectFour{
            display: flex;
            margin-top: -33px;
            font-size: 150px;
            color: #5DA893;
            font-family: 'Fjalla One', sans-serif;
        }
    #containerColorAboutMeProyectFour{
        width: 1150px;
        height: 2000px;
        background: #F5C5B8;
        box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
    }
    
    #descriptionAboutMeProyectFour1{
        display: flex;
        flex-direction: column;
        font-family: 'Gudea';
        font-size: 18px;
        margin: 0px 52px 0px 52px;
        margin-top: 40px;
        color: #1C1B20;
    }
    #descriptionAboutMeProyectFour2{
        display: flex;
        flex-direction: column;
        font-family: 'Gudea';
        font-size: 18px;
        margin: 0px 45px 0px 45px;
        margin-top: 15px;
        color: #1C1B20;
    }
    #descriptionAboutMeProyectFour3{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Gudea';
        font-size: 30px;
        margin: 0px 45px 0px 45px;
        margin-top: 30px;
        color: #1C1B20;
    }
        .imgProyectFour1{
            display: flex;
            width: 400px;
        }
        .imgProyectFour2{
            display: flex;
            width: 600px;
        }
        .container1ProyectFour1, .container1ProyectFour2, .container1ProyectFour3{
            display: flex;
            padding: 0;
        }
        .text1{
            margin: 0px 30px 0px 0px;
        }
        .text2{
            margin: 0px 0px 0px 30px;
        }
        .text3{
            font-size: 30px;
            margin: 40px 0px 40px 0px;
        }
        .imgProyectFour3{
            height: 200px;
        }
        .imgProyectFourArrow3{
            height: 150px;
        }
        .containerImgProyectFourArrow3{
            display: flex;
            align-items: center;
        }
        .btnImgProyectFour3{
            background: transparent;
            border: 0;
            overflow:hidden;
            width: 250px;
            height: 250px;
        }
        .btnImgProyectFour3:hover .imgProyectFour3 {
            transform:scale(1.1);
        }