#containerProyects{
    display: flex;
    flex-direction: column;
    padding: 100px 0px 50px 164px;
}

/* <-----------PROYECTO UNO------------> */
#proyectOne{
    display: flex;
    justify-content: space-between;
    width: 1150px;
    height: 450px;
    background: #FFE1D9;
    box-shadow: 15px 0px 15px rgba(0, 0, 0, 0.25);
}
    .containerDescriptionProyectOne{
        padding-top: 90px;
        margin-left: 50px;
    }
            .tittleProyectOneHome, .tittleProyectTwo, .tittleProyectFour{    
                font-family: 'Fjalla One';
                font-weight: normal;
                font-size: 65px;
                padding-top: 15px;
                margin: 0px;
                color: #F5F5F5;
            }
            
            .descriptionProyectOne, .descriptionProyectTwo, 
            .descriptionProyectFour{
                width: 500px;
                font-family: 'Gudea';
                font-size: 20px;
                padding: 15px 0px 15px 0px;
                color: #F5F5F5;
            }
            .tittleProyectOneHome, .descriptionProyectOne, 
            .tittleProyectFour, .descriptionProyectFour{
                color:#1C1B20;
            }
            
            .btnSeeProjectOne, .btnSeeProjectTwo{
                width: 198px;
                height: 47px;
                margin-top: 30px;
                background: #1C1B20;
                border: 1px solid #1C1B20;
                box-sizing: border-box;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                font-family: 'Gudea';
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 27px;
                color: #f1eeee;
                outline: none;
            }
            
        .containerImgProyectOneHome, .containerImgProyectTwo{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding-right: 30px;
        }
            .imgProyectOneHome{
                height: 300px;
                filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.8))
            }

/* <-----------PROYECTO DOS------------> */
#proyectTwo{
    display: flex;
    justify-content: space-between;
    width: 575px;
    height: 550px;
    background: #A87B6D;
    box-shadow: 15px 0px 15px rgba(0, 0, 0, 0.25);
}
    .containerDescriptionProyectTwo{
        padding-top: 30px;
        margin-left: 50px;
    }
            .descriptionProyectTwo{
                width: 250px;
                padding-bottom: 30px;
            }
            .btnSeeProjectTwo{
                margin-top: 15px;
                outline: none;
            }
            .imgProyectTwo{
                height: 400px;
                filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.8))
            }

/* <-----------PROYECTO TRES------------> */
#proyectThree{
    display: flex;
    width: 576px;
    height: 550px;
    background: #5DA893;
    box-shadow: 15px 0px 15px rgba(0, 0, 0, 0.25);
    margin: -550px 0px 0px 574px;
}
    .containerDescriptionProyectThree{
        margin: 29px 0px 0px 50px;
    }
        .tittleProyectThree{
            font-family: 'Fjalla One';
            font-weight: normal;
            font-size: 65px;
            margin: 0px;
            padding-top: 15px;
            color: #F5F5F5;
            text-align: center;
        }
        .descriptionProyectThree{
            width: 480px;
            font-family: 'Gudea';
            font-size: 20px;
            color: #F5F5F5;
            display: flex;
            padding-top: 16px;
        }
        #containerBTNProyectThree{
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
        .btnSeeProjectThree{
            width: 198px;
            height: 47px;
            margin-top: 30px;
            background: #1C1B20;
            border: 1px solid #1C1B20;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            font-family: 'Gudea';
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 27px;
            color: #f1eeee;
            outline: none;
        }

/* <-----------PROYECTO CUATRO------------> */
#proyectFour{
    display: flex;
    justify-content: space-between;
    width: 1150px;
    height: 450px;
    background: #F5C5B8;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
}
    .containerDescriptionProyectFour{
        padding-top: 40px;
        margin-left: 50px;
    }
    .containerImgProyectfOUR{
        padding: 15px 10px 0px 0px;
    }
    .imgProyectFour{
        filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.8))
    }        

/* <-----------EFECTO BOTÓN------------> */
    .btnSeeProjectOne span, .btnSeeProjectTwo span, 
    .btnSeeProjectThree span{
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    .btnSeeProjectOne span:after, .btnSeeProjectTwo span:after,
    .btnSeeProjectThree span:after{
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
      
    .btnSeeProjectOne:hover span, .btnSeeProjectTwo:hover span, 
    .btnSeeProjectThree:hover span{
        padding-right: 25px;
    }
    
    .btnSeeProjectOne:hover span:after, .btnSeeProjectTwo:hover span:after,
    .btnSeeProjectThree:hover span:after{
        opacity: 1;
        right: 0;
    }