#containerProyectFour{
    display: flex;
    flex-direction: column;
    padding: 100px 0px 50px 164px;
    scroll-snap-align: initial;
}
#tProduction{
    font-size: 15px;
    padding-bottom: 30px;
}
    .containerTittleProyectFour{
        display: flex;
        height: 70px;
        position: relative;
    }
        .tittleProyectFourr{
            display: flex;
            margin: 0px 0px 0px 45px;
            font-family: 'Fjalla One';
            font-weight: normal;
            font-size: 120px;
            color: #1C1B20;
        }
        .pointTittleProyectFour{
            display: flex;
            margin-top: -33px;
            font-size: 150px;
            color: #5DA893;
            font-family: 'Fjalla One', sans-serif;
        }
    #containerColorProyectFour{
        width: 1150px;
        height: 2650px;
        background: #F5C5B8;
        box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
    }
    
    #containerDescriptionProductProyect4, #containerHistoryUserProyect4, 
    #containerToolsProyect4, #visitBurgerQueen, #containerUserDefinition{
        display: flex;
        flex-direction: column;
        font-family: 'Gudea';
        font-size: 18px;
        margin: 0px 52px 0px 52px;
        margin-top: 40px;
        color: #1C1B20;
        text-align: justify;
        /* font-weight: bold; */
    }
    #descriptionAboutMeProyectFour2{
        display: flex;
        flex-direction: column;
        font-family: 'Gudea';
        font-size: 18px;
        margin: 0px 45px 0px 45px;
        margin-top: 15px;
        color: #1C1B20;
    }
    #descriptionAboutMeProyectFour3{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Gudea';
        font-size: 30px;
        margin: 0px 45px 0px 45px;
        margin-top: 30px;
        color: #1C1B20;
    }
        .imgProyectFour1{
            display: flex;
            width: 425px;
        }
        .imgProyectFour2{
            display: flex;
            width: 1048px;
            padding-top: 30px;
        }
        .container1ProyectFour1, .container1ProyectFour2, .container1ProyectFour3{
            display: flex;
            padding: 0;
        }
        .text1{
            margin: 0px 30px 0px 0px;
        }
        .text2{
            margin: 0px 0px 0px 30px;
        }
        .text3{
            font-size: 30px;
            margin: 40px 0px 40px 0px;
        }
        .imgProyectFour3{
            height: 200px;
        }
        .imgProyectFourArrow3{
            height: 150px;
        }
        .containerImgProyectFourArrow3{
            display: flex;
            align-items: center;
        }
        .btnImgProyectFour3{
            background: transparent;
            border: 0;
            overflow:hidden;
            width: 250px;
            height: 250px;
            outline: none;
            cursor: pointer;
        }
        .btnImgProyectFour3:hover .imgProyectFour3 {
            transform:scale(1.1);
        }

.toolsProyectFour{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;

}
.imgToolsHTML5Proyect4, .imgToolsJSProyect4, .imgToolsCSSProyect4,
.imgToolsReactProyect4, .imgToolsFigmaProyect4,
.imgToolsInvisionProyect4{
    height: 110px;
    width: 110px;
    background-size: cover;
    filter: drop-shadow(9px 9px 9px rgba(0, 0, 0, 0.6))
}
.imgToolsHTML5Proyect4{background-image: url("http://imgfz.com/i/cBb3i7D.png");}
.imgToolsJSProyect4{background-image: url("http://imgfz.com/i/RkSbjGl.png");}
.imgToolsCSSProyect4{background-image: url("http://imgfz.com/i/AYunpIz.png");}
.imgToolsReactProyect4{background-image: url("http://imgfz.com/i/KI90XYh.png");}
.imgToolsFigmaProyect4{background-image: url("http://imgfz.com/i/QcyeCpM.png");}
.imgToolsInvisionProyect4{background-image: url("http://imgfz.com/i/Trg7GMB.png");}

.containerImgToolsProyect4{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    width: 118px;
    height: 118px;
    opacity:0;
    transition: opacity 0.3s;
    margin: 0;
}
    .imgToolsHTML5Proyect4:hover .containerImgToolsProyect4,
    .imgToolsJSProyect4:hover .containerImgToolsProyect4,
    .imgToolsCSSProyect4:hover .containerImgToolsProyect4,
    .imgToolsReactProyect4:hover .containerImgToolsProyect4,
    .imgToolsGithubProyect4:hover .containerImgToolsProyect4,
    .imgToolsFigmaProyect4:hover .containerImgToolsProyect4,
    .imgToolsInvisionProyect4:hover .containerImgToolsProyect4{
        opacity: 1;
    }

/* <----------------------CONTENED0R DE LINKS----------------> */

#containerLinksProyect4{
    display: flex;
    margin: 60px 100px 0px 100px;
    justify-content: space-around;
}

.content {
    position: relative;
    width: 250px;
    overflow: hidden;
}
          
.content .content-overlay {
    background: rgba(0,0,0,0.7);
    border-radius: 200px;
    position: absolute;
    height: 99%;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
          
.content:hover .content-overlay{
    opacity: 1;
}
          
.content-image{
    width: 100%;
}
          
.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
          
.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}
          
.content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
