#containerSocialNetworks{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    padding-right: 40px;
    top: 0;
}
.containerColorSocialNetworks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60px;
    height: 665px;
    background: #5DA893;
}
#containerTotalSocialNetworks{
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
    .containerBTNSocial{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-top: 10px;
    }
        .btnSocial{
            background: transparent;
            border: 0;
            outline: none;
            cursor: pointer;
            width: 55px;
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
        }
            .imgSocial{
                width: 50px;
                height: 50px;
            }

/* <-----------EFECTO BOTÓN------------> */
.btnSocial{
    background: transparent;
    border: 0;
    overflow:hidden;
}
.btnSocial:hover .imgSocial {
    transform:scale(1.1);
}

/*<-----------------------MEDIA QUERY----------------------->*/

@media all and (max-width: 950px){
    /* #containerSocialNetworks{
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100%;
        position: relative;
        box-sizing: border-box;
        padding-right: 0px;
        
    } */
/* 
    #containerSocialNetworks{
        position: relative;
        margin: 0px;
        box-sizing: border-box;
        min-width: 469.600px;
        left: 100px;
        
    }
    #containerTotalSocialNetworks {
        flex-flow: row;
        min-width: 469.600px;
    }
    #containerSocialNetworks {
        justify-content: center;
        padding-right: 0px;
    }
    .containerColorSocialNetworks {
        min-width: 469.600px;
        margin: 0px 100px 0px 0px;
        width: 723.200px;
    }
    .containerBTNSocial {
        margin-top: 0px;
        margin-left: 20px;
    }
}
@media all and (max-width: 469px){
    .containerColorSocialNetworks {
        margin: 0px 100px 0px 100px;
    } */
/* .containerColorSocialNetworks {
    width: 100%;
    min-width: 469.600px;
    margin: 0px 200px 0px 200px;
} */
}

/* @media all and (max-width: 1414px){
    #containerSocialNetworks{
        flex-direction: row;
        position: relative; */
        /* position: sticky; */
        /* width: 1090px;
        height: 75px;
        left: 164px;
        margin: 0px -140px 50px 0px;
    }
    #containerTotalSocialNetworks{
        width: 400px;
        height: 100%;
        flex-flow: wrap;
        justify-content: space-between;
    }
}
@media all and (max-width: 1024px){
    #containerSocialNetworks{
        width: 924px;
    }
} */