#containerSocialNetworks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 60px;
    height: 665px;
    left: 1355px;
    top: 45px;
    background: #5DA893;
}
#containerTotalSocialNetworks{
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
    .containerBTNSocial{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-top: 10px;
    }
        .btnSocial{
            background: transparent;
            border: 0;
            outline: none;
            cursor: pointer;
            width: 55px;
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
        }
            .imgSocial{
                width: 50px;
                height: 50px;
            }

/* <-----------EFECTO BOTÓN------------> */
.btnSocial{
    background: transparent;
    border: 0;
    overflow:hidden;
}
.btnSocial:hover .imgSocial {
    transform:scale(1.1);
}

/*<-----------------------MEDIA QUERY----------------------->*/
@media all and (max-width: 1414px){
    #containerSocialNetworks{
        flex-direction: row;
        position: relative;
        /* position: sticky; */
        width: 1090px;
        height: 75px;
        left: 164px;
        margin: 0px -140px 50px 0px;
    }
    #containerTotalSocialNetworks{
        width: 400px;
        height: 100%;
        flex-flow: wrap;
        justify-content: space-between;
    }
}
@media all and (max-width: 1024px){
    #containerSocialNetworks{
        width: 924px;
    }
}