#containerSocialNetworks{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    padding-right: 40px;
    top: 0;
}
.containerColorSocialNetworks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60px;
    height: 665px;
    background: #5DA893;
}
#containerTotalSocialNetworks{
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
    .containerBTNSocial{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-top: 10px;
    }
        .btnSocial{
            background: transparent;
            border: 0;
            outline: none;
            cursor: pointer;
            width: 55px;
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
        }
            .imgSocial{
                width: 50px;
                height: 50px;
            }

/* <-----------EFECTO BOTÓN------------> */
.btnSocial{
    background: transparent;
    border: 0;
    overflow:hidden;
}
.btnSocial:hover .imgSocial {
    transform:scale(1.1);
}

/*<-----------------------MEDIA QUERY----------------------->*/

@media all and (max-width: 950px){
    #containerSocialNetworks{
        justify-content: flex-start;
        position: relative;
        padding-right: 0px;
        min-width: 469.600px;
        margin-bottom: 50px;
    }
    .containerColorSocialNetworks{
        justify-content: center;
        width: 100%;
        height: 70px;
        margin: 0px 100px 0px 100px;
        min-width: 469.600px;
    }
    .containerBTNSocial {
        margin-top: 0px;
        padding-left: 20px;
    }
    #containerTotalSocialNetworks {
        flex-flow: row;
    }
}