#containerTools{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1540;
    margin: 45px 200px 60px 200px;
    min-width: 469.600px;
    position: relative;
    z-index: 100;
}
.pointTittleTools{
    display: flex;
    margin: 0;
    font-size: 150px;
    color: #F5C5B8;
    font-family: 'Fjalla One', sans-serif;
}
    #containerColorTools{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: #A87B6D;
        box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
    }

    #containerTotalTools{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 110px 0px 10px 0px;
    }

        .imgToolsHTML5, .imgToolsJS, .imgToolsCSS, .imgToolsSASS, 
        .imgToolsReact, .imgToolsGithub, .imgToolsFirebase,
        .imgToolsFigma, .imgToolsInvision, .imgToolsNodeJS,
        .imgToolsNPM, .imgToolsGit, .imgToolsTrello,
        .imgToolsPhotoshop, .imgToolsIllustrator{
            height: 100px;
            width: 100px;
            background-size: cover;
            margin: 0px 50px 50px 50px;
            filter: drop-shadow(9px 9px 9px rgba(0, 0, 0, 0.6))
        }
        .imgToolsHTML5{background-image: url("http://imgfz.com/i/cBb3i7D.png");}
        .imgToolsJS{background-image: url("http://imgfz.com/i/RkSbjGl.png");}
        .imgToolsCSS{background-image: url("http://imgfz.com/i/AYunpIz.png");}
        .imgToolsSASS{background-image: url("https://i.ibb.co/pvLgsXc/sass.png");}
        .imgToolsNodeJS{background-image: url("https://i.ibb.co/LhwYz1r/js22.png");}
        .imgToolsReact{background-image: url("http://imgfz.com/i/KI90XYh.png");}
        .imgToolsFirebase{background-image: url("https://i.ibb.co/8x6Rv7P/firebase.png");}
        .imgToolsGithub{background-image: url("http://imgfz.com/i/LhKOBqf.png");}
        .imgToolsFigma{background-image: url("http://imgfz.com/i/QcyeCpM.png");}
        .imgToolsInvision{background-image: url("http://imgfz.com/i/Trg7GMB.png");}

        .imgToolsNPM{background-image: url("https://i.ibb.co/WW3xfjt/npm.png");}
        .imgToolsGit{background-image: url("https://i.ibb.co/yfQf9vb/git.png");}
        .imgToolsTrello{background-image: url("https://i.ibb.co/m09xTJF/trello.png");}
        .imgToolsPhotoshop{background-image: url("https://i.ibb.co/Yb7Hnrt/photoshop.png");}
        .imgToolsIllustrator{background-image: url("https://i.ibb.co/8cFvjMj/illustrator.png");}

        .containerImgTools{
            display: flex;
            justify-content: center;
            align-items: center;
            position:absolute;
            overflow:hidden;
            width: 110px;
            height: 110px;
            opacity:0;
            transition: opacity 0.3s;
            margin: 0;
        }
            .imgToolsHTML5:hover .containerImgTools,
            .imgToolsJS:hover .containerImgTools,
            .imgToolsCSS:hover .containerImgTools,
            .imgToolsSASS:hover .containerImgTools,
            .imgToolsNodeJS:hover .containerImgTools, 
            .imgToolsReact:hover .containerImgTools,
            .imgToolsFirebase:hover .containerImgTools,
            .imgToolsGithub:hover .containerImgTools,
            .imgToolsFigma:hover .containerImgTools,
            .imgToolsInvision:hover .containerImgTools,
            .imgToolsNPM:hover .containerImgTools, 
            .imgToolsGit:hover .containerImgTools, 
            .imgToolsTrello:hover .containerImgTools,
            .imgToolsPhotoshop:hover .containerImgTools, 
            .imgToolsIllustrator:hover .containerImgTools{
                opacity: 1;
            }
            .textImgTools2{
                font-size: 22px;
                text-align: center;
            }


/*<-----------------------MEDIA QUERY----------------------->*/
@media all and (max-width: 1024px){
    #containerTools{
        margin: 45px 150px 60px 100px;
    }
}
@media all and (max-width: 950px){
    #containerTools{
        margin: 45px 100px 60px 100px;
    }
}