#containerTools{
    display: flex;
    flex-direction: column;
    padding: 100px 0px 80px 164px;
}
    .pointTittleTools{
        display: flex;
        margin-top: -33px;
        font-size: 150px;
        color: #F5C5B8;
        font-family: 'Fjalla One', sans-serif;
    }

    #containerColorTools{
        display: flex;
        flex-wrap: wrap;
        width: 1150px;
        height: 360px;
        background: #A87B6D;
        box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
        padding: 100px 0px 0px 0px;
    }


                .imgToolsHTML5, .imgToolsJS, .imgToolsCSS,
                .imgToolsReact, .imgToolsGithub, .imgToolsFigma,
                .imgToolsInvision{
                    height: 130px;
                    width: 130px;
                    background-size: cover;
                    margin: 0px 50px 0px 50px;
                    filter: drop-shadow(9px 9px 9px rgba(0, 0, 0, 0.6))
                }
                .imgToolsHTML5{background-image: url("http://imgfz.com/i/cBb3i7D.png");}
                .imgToolsJS{background-image: url("http://imgfz.com/i/RkSbjGl.png");}
                .imgToolsCSS{background-image: url("http://imgfz.com/i/AYunpIz.png");}
                .imgToolsReact{background-image: url("http://imgfz.com/i/KI90XYh.png");}
                .imgToolsGithub{background-image: url("http://imgfz.com/i/LhKOBqf.png");}
                .imgToolsFigma{background-image: url("http://imgfz.com/i/QcyeCpM.png");}
                .imgToolsInvision{background-image: url("http://imgfz.com/i/Trg7GMB.png");}
                
                .containerImgTools{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position:absolute;
                    overflow:hidden;
                    width: 130px;
                    height: 130px;
                    opacity:0;
                    transition: opacity 0.3s;
                    margin: 0;
                }
                    .imgToolsHTML5:hover .containerImgTools,
                    .imgToolsJS:hover .containerImgTools,
                    .imgToolsCSS:hover .containerImgTools, 
                    .imgToolsReact:hover .containerImgTools,
                    .imgToolsGithub:hover .containerImgTools,
                    .imgToolsFigma:hover .containerImgTools,
                    .imgToolsInvision:hover .containerImgTools{
                        opacity: 1;
                    }
